
h2 {
    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
    font-size: 24px;
}


.technology-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.technology {
    width: 30%;
    background-color: #e9ecef;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.technology img {
    max-width: 100%;
    max-height: 150px;
}


.delete-button {
    margin-top: 10px;

    background-color: indianred;
    border-radius: 15px;
    padding: 3px 10px 5px 10px;

    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
    opacity: 0.5;
}
.delete-button:hover {
    opacity: 1;
}


.add-tech-row {
    padding: 5px 0;
    font-family: "Segoe UI", sans-serif;
}

.add-tech-row label {
    display: flex;
    flex-direction: row;
}
.add-tech-row span {
    min-width: 100px;
    display: inline-block;
}

.add-tech-row input[type="text"] {
    flex-grow: 1;
}
.add-tech-row input[type="submit"] {
    background-color: transparent;
    border: 1px solid dodgerblue;
    border-radius: 15px;
    padding: 5px 15px;
}