
.jumbotron {
    width: 100%;
    margin: 50px 0;

    background-color: #e9ecef;
    border-radius: 30px;
    padding: 50px 30px;
}

.jumbotron h1 {
    margin: 0;

    font-family: "Segoe UI", sans-serif;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
}

.jumbotron p {
    font-family: "Segoe UI", sans-serif;
    margin: 15px 0 0 0;
}

