nav {
    width: 100%;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    align-items: baseline;

    background-color: #343a40;
    padding: 15px 0;
}

.navbar-title {
    margin: 0 5px 0 20px;
    font-family: "Segoe UI", sans-serif;
    font-size: 30px;
    color: lightgray;
}
.navbar-title:hover {
    color: white;
}

.navbar-title a {
    color: unset;
    text-decoration: none;
}


.navbar-item {
    margin-left: 20px;
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    color: grey;
}
.navbar-item:hover {
    color: lightgray;
}

.navbar-item a {
    color: unset;
    text-decoration: none;
}

